<h1>Update Password</h1>

<%= form_with model:@user, url: user_update_password_path(current_user) do |form| %>
    <%= form.label :current_password, "Old Password" %>
    <br>
    <%= form.text_field :current_password, placeholder: "Old Password" %>
    <br>
    <%= form.label :new_password, "New Password" %>
    <br>
    <%= form.text_field :new_password %>
    <br>
    <%= form.label :new_password_confirmation, "Password Confirmation" %>
    <br>
    <%= form.text_field :new_password_confirmation %>
    <br>
    <%= form.submit "Update Password" %>
    <% end %>
    <% if flash.alert %>
  <% flash.each do |type, message| %>
      <%= type + " : " + message %>
    <% end %>
  <% end %>
